<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stevenwan.svlas.mapper.EmployeeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sex, name, personal_id, idcard_no, mobile, company_id, create_time
    </sql>

</mapper>
