<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stevenwan.svlas.mapper.NucleicAcidReportMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        employee_id, detect_hospital_name, detect_no, detect_time, create_time, detect_result
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="nucleicAcidReportResultMap" type="com.stevenwan.svlas.dto.hsjc.NucleicAcidReportSelectRetDTO">
        <result column="id" property="id"/>
        <result column="idcard_no" property="idcardNo"/>
        <result column="mobile" property="mobile"/>
        <result column="detect_hospital_name" property="detectHospitalName"/>
        <result column="name" property="name"/>
        <!--        <result column="company_name" property="companyName"/>-->
        <result column="detect_no" property="detectNo"/>
        <result column="detect_time" property="detectTime"/>
        <result column="detect_result" property="detectResult"/>

    </resultMap>

    <select id="selectNucleicAcidReportList" resultMap="nucleicAcidReportResultMap">
        select r.id,
               e.idcard_no,
               e.mobile,
               e.company_id,
               e.name,
               r.detect_hospital_name,
               r.detect_no,
               r.detect_time,
               r.detect_result
        from employee e
                 JOIN nucleic_acid_report r on e.id = r.employee_id
        where e.personal_id = #{openId}

order by r.detect_time desc
    </select>
</mapper>
