<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stevenwan.svlas.mapper.StockStrategyMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        code, price_anchor, adjust_time, per_price_volatility, create_time
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="stockStrategyJobResultMap" type="com.stevenwan.svlas.dto.stock.StockStrategyJobDTO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="price_anchor" property="priceAnchor"/>
        <result column="adjust_time" property="adjustTime"/>
        <result column="per_price_volatility" property="perPriceVolatility"/>
        <result column="mail_address" property="mailAddress"/>
        <result column="strategy_type" property="strategyType"/>
        <result column="nums" property="nums"/>
        <result column="nums" property="nums"/>
    </resultMap>

    <select id="selectStockStrategyJobList" resultMap="stockStrategyJobResultMap">
        SELECT
            ss.adjust_time,
            ss.`code`,
            ss.id,
            ss.per_price_volatility,
            ss.price_anchor,
            u.mail_address,
            sus.nums,
            sus.strategy_type,
            s.type
        FROM stock_strategy ss
                 JOIN stock_user_strategy sus ON sus.strategy_id=ss.id
                 JOIN `user` u ON u.id =sus.user_id
                 JOIN stock s ON s.`code` = ss.`code`
        WHERE ss.status = 0 and u.id= #{userId}
    </select>

</mapper>
